
<p class='developer-title'>Developer Profile</p>

<p class='textbox-label'>Email: <%= @developer.email %></p><br/>

<p class='project-text'>Skills:</p>
<% if @developer.skills.any? %>
	<% @developer.skills.each do |skill| %>
		<div class="ck-button">
			<label><span><%= skill.name %></span></label>
		</div>
	<% end %>
<% else %>
	<p class='project-text'>No skills defined</p>
<% end %>

<br/><br/><br/><br/><br/>

<%= link_to('Edit Profile', edit_developer_registration_path, class: 'button') %>        
<%= link_to('Back', developer_dashboard_path(current_developer), class: 'button') %>        

