
<p class='client-title'>Show Project</p>

<div class='project-container'>
	<p class='project-text'>Name: <%= @project.name %></p>
</div>
	<%= link_to('Edit Project', edit_client_project_path(current_client, @project.id), class: 'button') %>  
	<%= link_to('Back', :back, class: 'button') %>  
