/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

.title {
	font-size: 30px;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 5px;
}

.general-title {
	@extend .title;
	color: blue;
}

.client-title {
	@extend .title;
	color: green;
}

.developer-title {
	@extend .title;
	color: orange;
}

.button {
	padding-top: 4px;
	padding-left: 7px;
	padding-right: 8px;
	padding-bottom: 5px;
	font-size: 18px;
	text-decoration: none;
	color: black;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 4px;
	background: rgb(220, 220, 220);
	margin-left: 5px;
	margin-right: 5px;
	&:hover {
		color: rgb(120, 120, 120);
		cursor: default;
	}
}

#system-message, #notice, #alert {
	font-size: 18px;
	margin-left: 5px;
}

.textbox-container {
	margin-top: 2px;
	margin-bottom: 7px;
}

.textbox-label {
	font-size: 18px;
	margin-left: 5px;
}

.textbox {
	font-size: 16px;
	outline: none;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 1px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 5px;
}

.submit {
	color: black;
	outline: none;
	height: 26px;
	font-size: 14px;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 2px;
	line-height: 0px;
	margin-top: 10px;
	margin-left: 5px;
	&:hover {
		color: rgb(120, 120, 120);
		cursor: default;
	}
}







