/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

body {
	font-family: "Gotham Narrow SSm",sans-serif,Arial;
}

.title {
	font-size: 30px;
	font-weight: 500;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 5px;
}

.general-title {
	@extend .title;
	color: rgb(26, 61, 185);
}

.client-title {
	@extend .title;
	color: green;
}

.developer-title {
	@extend .title;
	color: orange;
}

.button {
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 8px;
	padding-bottom: 5px;
	font-size: 16px;
	text-decoration: none;
	color: black;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 4px;
	background: rgb(220, 220, 220);
	margin-left: 5px;
	margin-right: 5px;
	&:hover {
		cursor: default;
		color: #8C42D4;
	}
}

.submit-back-container {
	display: block;
	margin-bottom: 1px;
	margin-top: 6px;
	height: 65px;
}

.submit-container {
	display: inline;
	position: relative;
}

.back-container {
	margin-top: -22px;
	margin-bottom: 34px;
	margin-left: 80px;
}

.messages-container {
	width: 100%;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 15px;
	border: none;
	padding-top: 0px;
	padding-bottom: 0px;
}

.system-message-container {
	width: 320px;
	height: 40px;
	display: inline-block;
	margin-top: 0px;
	position: initial;
	line-height: 38px;
}

.notice-alert-container {
	width: 800px;
	height: 40px;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 39px;
	clear: left;
	position: absolute;
}

.message {
	font-family: "Gotham Narrow SSm",sans-serif,Arial;
	font-size: 16px;
	margin-left: 5px;
}

#system-message {
	@extend .message;
	color: black;
}

#notice {
	@extend .message;
 	color: green;
}

#alert {
	@extend .message;
	color: red;
}

.error-message {
	@extend .message;
	margin-top: 4px;
	margin-bottom: 4px;
	color: red !important;
}

.hidden-label {
	display: none;
}

.forgot-password-link {
	@extend .message;
	color: black;
	text-decoration: none !important;
	&:hover {
		cursor: default;
		color: rgb(26, 61, 185);
	}
}

.textbox-container {
	margin-top: 2px;
	margin-bottom: 7px;
}

.textbox-label {
	font-size: 18px;
	margin-left: 5px;
}

.textbox {
	font-size: 16px;
	outline: none;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 1px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 5px;
	width: 240px;
}

.submit {
	color: black;
	outline: none;
	height: 31px;
	font-size: 16px;
	border: 1px solid #646464;
	border-radius: 4px;
	margin-top: 17px;
	margin-left: 5px;
	background: gainsboro;
	letter-spacing: -0.4px;
	&:hover {
		color: #8C42D4;
		cursor: default;
	}
}

.project-container {
	border: 1px solid #646464;
	margin-top: 14px;
	margin-bottom: 15px;
	margin-left: 5px;
	padding-left: 6px;
	padding-top: 6px;
	padding-bottom: 45px;
	width: 30%;
	border-radius: 4px;
}

.project-text {
	font-size: 18px;
	margin-top: 4px;
	margin-left: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.project-links {
	margin-top: 15px;
	margin-bottom: 0px;
	float: right;
	display: inline-block;
}

.small-button {
	padding-top: 3px;
	padding-left: 7px;
	padding-right: 8px;
	padding-bottom: 3px;
	font-size: 15px;
	text-decoration: none;
	color: black;
	border: 1px solid #646464;
	border-radius: 4px;
	background: gainsboro;
	margin-right: 15px;
	letter-spacing: 0.2px;
	display: inline-block;
	margin-top: -17px;
	&:hover {
		color: #8C42D4;
		cursor: default;
	}
}

.create-button-container {
	margin-bottom: 30px;
	margin-top: 14px;
	width: 240px;
	height: 40px;
	width: 397px;
	text-align: center;
}

.create-button {
	display: inline-block;
	width: 200px;
	height: 25px;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 0.2px;
}

.links-container {
	margin-top: 20px;
	width: 100%;
	float: left;
}

.ck-button {
    margin: 4px;
    background-color: rgb(220, 220, 220);
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
    float: left;
}

.ck-button:hover {
    background: rgb(200, 200, 200);
}

.ck-button label {
    float: left;
}

.ck-button label span {
	text-align: center;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 6px;
	font-size: 16px;
	letter-spacing: 0.2px;
	border: 1px solid rgb(200, 200, 200);
}

.ck-button label input {
    position: absolute;
    top: -20px;
}

.ck-button input:checked + span {
	background-color: rgba(38, 113, 22, 0.65);
	border: 1px solid rgba(93, 123, 108, 0.43);
    color: rgb(240, 240, 240);
}

.ck-button-show {
	margin: 4px;
	border-radius: 4px;
	background-color: rgba(38, 113, 22, 0.65);
 	overflow: auto;
	float: left;
}

.ck-button-show label {
    float: left;
}

.ck-button-show label span {
	text-align: center;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 6px;
	font-size: 16px;
	letter-spacing: 0.2px;
	border: 1px solid rgba(93, 123, 108, 0.43);
    color: rgb(240, 240, 240);
}

.ck-button-show label input {
    position: absolute;
    top: -20px;
}

#spinner {
	position: fixed;
	margin-top: -287px;
	margin-left: 385px;
}


.remember-checkbox {
	width: 14px;
	margin-left: 10px;
	display: inline-flex;
	margin-right: -5px;
	margin-top: 10px;
}
