
<p>Hello <%= @resource.email %>,</p>

<p>We received a request to reset your account's password.</p>

<p>To reset your password, please use the link below:</p>

<p><%= link_to 'Reset my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't make this request, please let us know at:</p>

<p>talent.hacked@gmail.com</p>

<p>Please note that your password will not be changed until you access the link above 
and create a new one.</p>

<p>Sincerely yours,</p>

<p><strong>The Talent-Hacked Team</strong></p>

